{% extends 'base.html' %}

{% block main %}
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Спасибо!</h2>
            <p class="lead mb-5">Ваш заказ успешно создан с id {{order.id}}.</p>
            <p><a href="{% url 'shop:product_list' %}" class="btn btn-sm btn-primary">Назад к покупкам</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}